select.form-control {width: 140px;}
.card-header {border-bottom: none;}
.grouptext {background: #212529;
    color: #fff;
    width: 50px;
    text-align: center;
    font-size: 14px;
    height: 50px;
    border-radius: 80px;
    line-height: 51px; }
.normalcolor{background: #3dc1d3;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px; }
.urgentcolor{background:#fd9644;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px; }
.criticalcolor{background:#ff6348;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;}

.opencolor{background: #20bf6b;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px; }
.pendingcolor{background:#fd9644;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px; }
.closecolor{background:#ccc;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;}
.btn-back{
    padding: 2px 10px;
    background: #404f5f;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
}
.btn-tktid{
    padding: 1px 10px;
    background:#404f5f;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
}
.deletetiket{
    color:rgb(255, 93, 93);cursor:pointer;
}
.deletetiket:hover{
    color:rgb(255, 20, 20);
}
.table th, .table td{
    font-size: 14px;
}
.groupbox{
    width: 170px;
    height: 120px;
    border-radius: 2px;
    text-align: center;
    background: #f4f4f4;
    font-size: 20px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}