
<h1>{{tickett.ticketid}} - Ticket Information</h1>
        

                    <table class="table">
                            <tr>
                                
                                <th>Ticket ID</th>
                                <th>Owner Name</th>
                                <th>Status</th> 
                                <th>Subject</th>
                                <th>Description</th>
                                <th>Groupname</th>
                                <th>Type</th> 
                                <th>Tags</th>
                                <th>Priority</th>
                                <th>Created Date</th>
                            </tr>
                            <tr >
                               
                                <td>{{tickett.ticketid}}</td>
                                <td>{{tickett.ownername}}</td>
                                <td>{{tickett.status}}</td>
                                <td>{{tickett.subject}}</td>
                                <td>{{tickett.description}}</td>
                                <td>{{tickett.group}}</td>
                                <td>{{tickett.type}}</td>
                                <td>{{tickett.tags}}</td>
                                <td>{{tickett.priority}}</td>
                                <td>{{tickett.ticketdate}}</td>
                            </tr>
                        </table>