<div class="col-md-6 col-md-offset-3 formbg">
    <h4 class="headerhd"><i class="far fa-file-alt"></i>&nbsp;Create Account</h4>
  <form name="form" class="formcont" (ngSubmit)="f.form.valid && account()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
          <label for="firstName">Full Name</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.fullname" #firstName="ngModel" required />
          <div *ngIf="f.submitted && !firstName.valid" class="help-block">Tag Name is required</div>
      </div> 

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <label for="firstName">User Name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.username" #firstName="ngModel" required />
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">Tag Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        <label for="firstName">Password</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.password" #firstName="ngModel" required />
        <div *ngIf="f.submitted && !firstName.valid" class="help-block">Tag Name is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firsName.valid }">
        <label for="firsName">Role</label>
        
        <select   [(ngModel)]="model.role" name="firsName" required #firsName="ngModel" >
            
            <option *ngFor="let user of arrBirds" [ngValue]="user.name" >
                 {{ user.name }}
            </option>
      </select>
      <div>{{model.roles}}</div>
        <div *ngIf="f.submitted && !firsName.valid" class="help-block">Atleast One Member is required</div>
    </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firsName.valid }">
        <label for="firsName">Groups</label>
        
        <select   [(ngModel)]="model.groupname" name="firsName" required #firsName="ngModel" >
            <option *ngFor="let user of groupp" [ngValue]="user.groupname" >
                 {{ user.groupname }}
            </option>
      </select>
      <div>{{model.members}}</div>
        <div *ngIf="f.submitted && !firsName.valid" class="help-block">Atleast One Member is required</div>
    </div>

    
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Create Account</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
      </div>
  </form>
</div>